// :host {
//     max-width: 1600px;
//     margin: 0 auto;
//     display: block;
//   }
  
.page-header{
   height: 60px;
   align-items: center;
   background-color: #ededef;
}
.global-search{
    margin-left: 18px;
    margin-top: 4px;
    border: none;
    background-color: #E5E4FF;
    padding: 8px 8px 8px 8px;
}